<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    

  </head>
  <body>
    <nav class= "navbar navbar-default navbar-static-top">
      <ul class="nav navbar-nav">
        <li><a class="navbar-brand" href="{% url 'basic_app:list' %}">Schools</a></li>
         <li><a class="navbar-link" href="{% url 'admin:index' %}">Admin</a></li>

        <li><a  class="navbar-link" href="#"></a></li>
      </ul>
    </nav>
    <div class="container">


    {% block body_block %}
    {% endblock %}
    </div>
  </body>
</html>
