{% extends 'basic_app/basic_app_base.html' %}
{% block body_block %}
<div class="jumbotron">
  <h1>welcome</h1>
  <h2>school details:</h2>
  <p>{{school_details.name}}</p>
  <p>principal:{{school_details.principal}}</p>
  <p>Location:{{school_details.location}}</p>
  <h3>Student:</h3>

  {% for student in school_details.students.all %}
  <p>{{student.name}} who is {{student.age}} years old.</p>

  {% endfor %}
</div>

<div class="container">
  <p> <a class="btn btn-warning" href="{% url 'basic_app:update' pk=school_details.pk%}">update</a> </p>


</div>
{% endblock %}
