<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog</title>
    <!--Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>



    <!-- Custom CSS -->


    <link rel="stylesheet" href="{'static\css\blog.css' }">
    <!--fonts -->
    <link href="https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap" rel="stylesheet">

  </head>
  <body class="loader">
<nav class="navbar navbar-default techfont custom-navbar">
<div class="container">
  <ul class="nav navbar-nav">

  <li><a class="navbar-brand bigbrand" href="{% url 'post_list' %}"></a>my blog</li>
  <li><a href="{%url 'about' %}"></a>About</li>
  <li><a href="https://github.com/"></a>Github</li>
  <li><a href="https://linkdin.com/"></a>Linkdin</li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    {% if user.is_authenticated %}
    <li>
      <a href="{% url 'post_new'%}"></a>
    </li>
    <li>
      <a href="{% url 'post_draft_list'%}"></a>
    </li>
    <li>
      <a href="{% url 'logout'%}"></a>
    </li>
    <li>
      <a>Welcome: {{user.username }}</a>
    </li>
    {% else %}
    <li><a class="nav navbar-right" href="{% url 'login' %}"><span class="glyphicon glyphicon-user"></span>Login</a></li>
    {% endif %}

  </ul>
</div>
</nav>
<div class="content container">
  <div class="row">
    <div class="col-md-8">
      <div class="blog_posts">
        {% block content %}
        {% endblock %}

      </div>

    </div>

  </div>
</div>
  </body>
</html>
